body {
    text-align: center;
    background-color: #fff5c7;
    background-image: url("https://www.transparenttextures.com/patterns/food.png");
}


/* sign */

.sign-heading {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.sign {
    text-align: left;
    display: inline-block;
    width: 50%;
}


/* diary*/

.heading-diary {
    margin-top: 3rem;
}

.add-entry-button {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.list-of-entries {
    display: inline-block;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 50%;
}

.btn {
    color: white;
}


/* write */


/*entry*/